<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= yield(:navbar_class) %>">
  <a class="navbar-brand" href="/">
    <%= image_tag "/assets/logo7.jpg" %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Login", new_user_session_url, class: "nav-link" %>
       <!--  <a class="nav-link" href="#">Login</a> -->
      </li>
      <li class="nav-item">
        <%= link_to "SignUp", new_user_registration_url, class: "nav-link" %>
      <!--   <a class="nav-link" href="#">SignUp</a> -->
      </li>
    </ul>
  </div>
</div>
