<% content_for(:navbar_class, "navbar-home") %>
<div class="banner">
  <div class="container">
      <h1>Rent your <strong>next furniture</strong> <strong>with us</strong>!</h1>
      <p>As the ways you live and work shift—or doors open to new opportunities, rent what you need when you need it.</p>
      <a class="btn btn-lg btn-primary" href="#">Browse Furnitures</a>
  </div>
</div>
